openapi: 3.0.4
info:
  title: Moon Phases
  description: >-
    Moon Phases is a simple tool for getting the moon phases. It returns the
    moon phase for a given date.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/moonphases:
    get:
      summary: Get Today's Moon Phase
      description: Get the moon phase for today
      operationId: moonphases
      parameters:
        - name: today
          in: query
          schema:
            type: boolean
          required: false
          description: Get the moon phase for today
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  phase: Waning Crescent
                  phaseEmoji: 🌘
                  waxing: false
                  waning: true
                  lunarAge: 26.61193415670738
                  lunarAgePercent: 0.9011650706672754
                  lunationNumber: 1274
                  lunarDistance: 63.77810628163608
                  nextFullMoon: '2026-01-16T00:00:00Z'
                  lastFullMoon: '2025-11-17T00:00:00Z'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
